<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mrj.example.deliverytexnomart">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.telephony" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature android:name="android.hardware.telephony.cdma" />
    <uses-feature android:name="android.hardware.telephony.gsm" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_car"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DeliveryTexnomart">
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.OrdersActivity" />
        <activity android:name=".view.CarSelectActivity" />
        <activity android:name=".view.ShiftActivity" />
        <activity android:name=".view.OrderActivity" />
    </application>

</manifest>